<div class="banner">
    <div class="ui segment teal inverted">
        <h1 class="ui center aligned icon header">
            <i class="chat icon"></i>
            <a href="/">My APP</a>
        </h1>
        <div class="content">
            <div class="ui sub header center aligned">MY AWESOME APP</div>
        </div>
    </div>
</div>
<div class="section">
    <div class="ui three column grid">
        <div class="column"></div>
        <div class="column">
            <div class="ui centered padded raised segment">
                <h3>Sign In</h3>
                <div class="ui divider"></div>
                <% if(typeof status !== "undefined" && status === -1) { %>
                    <div class="ui error message">
                        <div class="header">Login Failed</div>
                        <p><%= message %></p>
                    </div>
                <% } %>
                <form class="ui form"  method="POST" action="/profile">
                    <div class="field">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>