<% include partials/menu %>

<div class="ui container">
    <h1 class="ui centered header"><%= user.username%></h1>
    <hr>
    <div class="section">
        <div class="ui segment">
            <p><%= user.username %></p>
            <p><%= user.email %></p>
        </div>
    </div>
</div>